.contact-container {
  margin: 4rem 0;
  position: relative;
}
.contact-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.contact-content {
  display: flex;
  gap: 3rem;
}
.contact-info {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
@media (max-width: 768px) {
  .contact-content {
    flex-direction: column-reverse;
  }
  .contact-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .contact-info {
    grid-template-columns: auto;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .contact-container {
    margin: 0rem 0.8rem;
  }
  .contact-container h5 {
    margin-bottom: 1rem;
  }
}
